In [1]:
import pandas as pd
import numpy as np

In [2]:
oj=pd.read_csv("oj.csv",encoding="latin")

In [ ]:
#1. Find the dimensions of the oj data set
oj.shape

In [ ]:
# 2.	Find the structure of the data set
oj.info()

In [ ]:
# 3 Find out the column names in the data set

In [ ]:
oj.columns

In [ ]:
#4.Describe the data set
oj.describe()

In [48]:
# 5. Update the column names of the data set, such that every column name is in lowercase
oj.columns = [col.lower() for col in list(oj.columns) ]

Data Retrival

In [ ]:
#1. Fetch the first row 3rd column from the data set
oj.iloc[0,2]

In [ ]:
# 2. Fetch the first, second and Third columns of the oj data frame
oj.iloc[0:,[0,1,2]].head()

In [6]:
#3. Fetch the first, second, eighth and the 456th rows of the 1st, third and the sixth columns of the data frame
oj.iloc[[0,1,7,455],[0,2,5]]

     store  week  price
0        2    40   3.87
1        2    46   3.87
7        2    53   3.29
455      5    51   2.99

In [ ]:
# 4. Fetch the first 5 rows of the brand column of the dataset
oj['brand'].head()

In [ ]:
#5. Fetch top 5 rows of the brand, week and feat details 
oj[['brand','week','feat']].head()

In [ ]:
# 6.Fetch the details of all the distinct stores
oj["store"].unique()

In [ ]:
# 7. Fetch all the observations for Tropicana brand
oj[oj['brand']=='tropicana']
oj[oj.brand == 'tropicana']

In [ ]:
# 8. Fetch all the observations for Tropicana brand using query function
oj.query("brand=='tropicana'")

In [ ]:
# 9 Fetch store,brand and price observations for the brand toppicana
oj[oj.brand=='tropicana'][['store','brand','price']].tail()

In [8]:
# 10. Fetch last 5  observations for those who have bought Tropicana or dominics
oj[(oj.brand == 'tropicana') | (oj.brand == 'dominicks')].tail(5)

,store,brand,week,logmove,feat,price,AGE60,EDUC,ETHNIC,INCOME,HHLARGE,WORKWOM,HVAL150,SSTRDIST,SSTRVOL,CPDIST5,CPWVOL5
28746,137,tropicana,156,11.313498,1,2.49,0.209602,0.528362,0.11325,10.96649,0.092996,0.330293,0.860739,6.026484,0.705882,0.77253,0.333761
28747,137,tropicana,157,10.628133,0,2.66,0.209602,0.528362,0.11325,10.96649,0.092996,0.330293,0.860739,6.026484,0.705882,0.77253,0.333761
28748,137,tropicana,158,9.936535,0,3.11,0.209602,0.528362,0.11325,10.96649,0.092996,0.330293,0.860739,6.026484,0.705882,0.77253,0.333761
28749,137,tropicana,159,10.855917,1,2.79,0.209602,0.528362,0.11325,10.96649,0.092996,0.330293,0.860739,6.026484,0.705882,0.77253,0.333761
28750,137,tropicana,160,10.236525,0,2.88,0.209602,0.528362,0.11325,10.96649,0.092996,0.330293,0.860739,6.026484,0.705882,0.77253,0.333761

In [ ]:
#11. Fetch the first 5 observations of income, brand, price observations with Tropicana brand 
# without feature advertisement
oj[(oj.brand=='tropicana')&(oj.feat==0)][["INCOME","brand","price"]].head()

In [ ]:
oj.query("(brand=='tropicana')&(feat==0)")[["INCOME","brand","price"]].head()

In [ ]:
#12 .Add a new column to the dataframe normInc which is the normalised value of income
oj['normInc'] = ((oj['INCOME'])-oj['INCOME'].mean())/oj['INCOME'].std()

In [ ]:
oj.shape

In [ ]:
oj.head()

In [ ]:
# 13 Remove the column normInc from the data frame
del oj['normInc']

In [ ]:
oj.head()

In [50]:
# 14. Fetch the observations for the tropicana 
# brand excluding the store, price and income fields
oj.query("brand == 'tropicana'").drop(["price","store","income"],1).\
head()

,brand,week,logmove,feat,age60,educ,ethnic,hhlarge,workwom,hval150,sstrdist,sstrvol,cpdist5,cpwvol5
0,tropicana,40,9.018695,0,0.232865,0.248935,0.11428,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
1,tropicana,46,8.723231,0,0.232865,0.248935,0.11428,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
2,tropicana,47,8.253228,0,0.232865,0.248935,0.11428,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
3,tropicana,48,8.987197,0,0.232865,0.248935,0.11428,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
4,tropicana,50,9.093357,0,0.232865,0.248935,0.11428,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927

In [ ]:
# 15.Sort the Data in the increasing order of the week
oj.sort_values(by="week",ascending=True)

In [ ]:
# 16. Sort the data in the decreasing order of Income and increasing 
#order of week
oj.sort_values(by=["income","week"],ascending=[False,True])

In [ ]:
##17.Find the mean of the Juice price for each brand
dat=oj[["brand","price"]]
dat.groupby("brand").mean()

In [ ]:
##17.Find the mean of the Juice price for each brand
oj.groupby("brand").agg({"price":np.mean})

In [ ]:
#18 . Find the mean, sum, std of price for every brand
dat=oj[["brand","price"]]
dat.groupby("brand").agg(["mean","sum","std"])

In [ ]:
#19. For every brand find the mean price and sum of income
oj.groupby("brand").agg({"price":np.mean,"income":np.sum})

In [ ]:
# 20.Find the average income for each brand and at each store
dat=oj[["brand","store","income"]]
dat.groupby(["brand","store"]).mean()

In [ ]:
oj.groupby(["brand","store"]).agg({"income":np.mean})

In [ ]:
#21.a Mean and std deviation of the income for each brand
dat=oj[["brand","income"]]
dat.groupby("brand").agg(["mean","std","count"])

In [ ]:
# 21.b mean of price for income >=10.5
dat=oj.query("income>=10.5")[["price"]]
dat.mean()

In [ ]:
#21.c mean of price for income >=10.5 for each brand
dat=oj.query("income>=10.5")[["price","brand"]]
dat.groupby("brand").mean()

In [ ]:
oj.groupby(["brand","feat"]).agg({"store":np.size})

In [ ]:
#22 Find the Cross tabulation of brands and feature advertisement
#To find the total observations for each brand and for every feature advertisement category
dat=oj[["brand","feat","store"]]
dat.groupby(["brand","feat"]).count()

In [ ]:
pd.crosstab(oj['brand'],oj['feat'])